{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title %}FriendlyVibe - think IFTT for social to Youtube{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap3/css/bootstrap.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap3/js/html5shiv.js"></script>
      <script src="/static/bootstrap3/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap3/css/carousel.css" %}" rel="stylesheet">
    <link href="{% static "css/sticky-footer.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
  </head>
<body>

    {%block navbar %}
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{%url 'home' %}">FriendlyVibe</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}" title="Start">Start</a></li>
                <li><a href="#about">About</a></li>
              </ul>
              {% if request.user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}" title="Sign out" class="navbar-link">Sign out</a></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}

      {% block content %}
      {% endblock %}

      {% block footer %}
      <div class="footer">
        <div class="container">
          <p class="text-muted"><a href="http://twitter.com/lucian2k" title="Get in touch, follow twitter">Get in touch</a></p>
        </div>
      </div>
      {% endblock %}
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/holder.js"></script>
</body>
</html>
