{% extends "base.html" %}

{% block content %}
        <div id="homecarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="height: 300px;">
                        <div class="carousel-caption">
                            <h1><span class="label label-info">social profiles</span> to <span class="label label-warning">Youtube playlist</span></h1>
                            {% if request.user.is_authenticated %}
                                {% if not playlist_obj.youtube_pl_id %}
                                <p><code>next: setup your youtube playlist name and privacy</code><br />
                                <code>music is being collected ...</code><br />
                                {% else %}
                                <p><del><code>next: setup your youtube playlist name and privacy</code></del><br />
                                <code>all good: music is being collected and pushed to Youtube!</code><br />
                                {% endif %}
                                </p>
                            {% else %}
                            <p>Plug in your social accounts and we'll filter only the music to a Youtube playlist</p>
                            {% endif %}
                            <p>
                                {% if 'facebook' not in backends_on %}
                                <a class="btn btn-large btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}" title="Connect your Facebook account">
                                    <i class="fa fa-facebook"></i>Facebook connect</a>
                                {% endif %}
                                {% if 'google-oauth2' not in backends_on %}
                                <a class="btn btn-large btn-social btn-google-plus" href="{% url 'social:begin' 'google-oauth2' %}" title="Connect your Youtube account">
                                    <i class="fa fa-youtube"></i>Youtube connect</a>
                                {% endif %}
                            </p>
                        </div>
                </div>
            </div>
        </div>
        {% if backends_on %}
        <div class="container marketing">
            <div class="row">
                {% if 'facebook' in backends_on %}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>Connected and collecting ...</span>
                        </div>
                        <div class="panel-body" id="yt_items_list">
                            <i>Music is being detected ...</i>
                        </div>
                    </div>
                </div>
                <script type="text/template" id="fb-items-template">
                     <% if (synced == true) { %>
                     <span class="glyphicon glyphicon-thumbs-up uploaded"></span>
                     <% } else { %>
                     <span class="glyphicon glyphicon-cog pending"></span>
                     <% } %>
                     <a href="<%= permalink %>" title="" target="_blank"><%= title %></a>, <%= timesince %><br />
                </script>
                {% endif %}
                {% if 'google-oauth2' in backends_on %}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="btn btn-block btn-social btn-google-plus">
                                {% if playlist_obj.youtube_pl_id %}
                                <i class="fa fa-youtube"></i>Connected <a href="https://www.youtube.com/playlist?list={{ playlist_obj.youtube_pl_id }}" title="{{ playlist_obj.youtube_pl_name }} on Youtube" target="_blank" class="btn btn-default btn-xs">Youtube link</a></span>
                                {% else %}
                                <i class="fa fa-youtube"></i>Connected, create your playlist below</span>
                                {% endif %}
                        </div>
                        <div class="panel-body">
                            <div class="input-group" id="yt_plname_template">
                                {% if playlist_obj.youtube_pl_id %}
                                <span class="input-group-addon">Playlist title</span>
                                <input type="text" class="form-control" placeholder="Playlist title" value="FriendlyVibe Social" />
                                <span class="input-group-addon">
                                <label><input type="checkbox" name="pl-private" id="pl-private" /> <span class="text-muted">Make private</span></label>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="rename-playlist">Rename</button>
                                </span>
                                {% else %}
                                <span class="input-group-addon">Title</span>
                                <input type="text" class="form-control" placeholder="Playlist title" value="" id="pl-title" />
                                <span class="input-group-addon">
                                <label><input type="checkbox" name="pl-private" id="pl-private" /> <span class="text-muted">Make private</span></label>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="create-playlist">Create</button>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block extra_js %}
<script>
    FBEntry = Backbone.Model.extend({
        defaults: {
            title: null,
            permalink: null,
            code: null,
            timesince: null,
            synced: null
        },
        initialize: function() {
        }
    });

    YPlaylist = Backbone.Model.extend({
        defaults: {
            title: null,
            is_private: null
        },
        initialize: function() {
        },
        urlRoot: '{% url "playlist" %}'
    });

    var SocialEntries = Backbone.Collection.extend({
        model: FBEntry,
        url: '{%url "items" %}',
    });

    window.SocialItems = Backbone.View.extend({
        el: $("#yt_items_list"),
        initialize: function() {
            this.itemscollection = new SocialEntries()
            this.itemscollection.fetch().then(function() { window.socialitems.render(); });
        },
        render: function() {
            var template = _.template( $("#fb-items-template").html() );
            var compiled = [];
            _.each(this.itemscollection.models, function(e) {
                var tplvars = {title: e.get('title'),
                               permalink: e.get('permalink'),
                               timesince: e.get('timesince'),
                               synced: e.get('synced')}
                compiled.push(template(tplvars))
            })
            if (compiled.length > 0) {
                this.$el.html(compiled.join(''));
            }
        }
    });

    window.PlaylistView = Backbone.View.extend({
        el: $("#yt_plname_template"),
        events: {
            "click #create-playlist":  "savePlaylistName",
        },
        initialize: function() {
            this.model = new YPlaylist()
            this.model.fetch().then(function() { window.plview.render(); })
        },
        savePlaylistName: function (e) {
            e.preventDefault();
            var playlist_data = {title: this.$el.find('#pl-title').val(),
                                 is_private: this.$el.find('#pl-private').is(':checked')}

            this.model.save(playlist_data, {
                success: function(model) {
                    if (model.get('error') && (model.get('error').length > 0)) {
                        alert('Booh, seems there was somme error in creating/updating the playlist.\nPlease try disconnecting Youtube and connect it again!')
                    }
                }
            })
        },
        render: function() {
            this.$el.find('#pl-title').val(this.model.get("title"));
            this.$el.find('#pl-private').prop('checked', this.model.get("is_private"));
        }
    });
    var plview = new PlaylistView;
    var socialitems = new SocialItems;

    $(window).load(function(){
        {% if not playlist_obj.youtube_pl_id %}
        $('#pl-title').focus();
        {% endif %}
    });
</script>

{% endblock %}
