{% extends "base.html" %}

{% block content %}
        <div id="homecarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="height: 400px;">
                        <div class="carousel-caption">
                            <h1><span class="label label-info">social profiles</span> to <span class="label label-warning">Youtube playlist</span></h1>
                            <p>Plug in your social accounts and we'll filter only the music to a Youtube playlist</p>
                            <p>
                                <a class="btn btn-large btn-social btn-facebook" href="{% url 'facebook_connect' %}">
                                    <i class="fa fa-facebook"></i>Facebook connect</a>
                                <a class="btn btn-large btn-social btn-google-plus" href="#">
                                    <i class="fa fa-youtube"></i>Youtube connect</a>
                            </p>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}
